.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #171A21;
}
.container_nav {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    margin-left: 12px;
    margin-right: 18px;
    color: white;
}



